/* Global reset and styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #C2DE86;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.center-text {
    text-align: center;
    color: #333;
    font-size: 32px;
}